@using MvcCookieAuthSampleAddUI.ViewModels;
@model ConsentViewModel; 
 @*啥时候传model实例呢*@
@{
    ViewData["Title"] = "Index";
}

<p>Consent Page</p>
@*头部信息*@
<div class="row page-header">
    <div class="col-sm-10">
        @if (!string.IsNullOrWhiteSpace(Model.ClientLogoUrl))
        {
            <div><img width="100" height="100" src="@Model.ClientLogoUrl"/></div>

        }
        <h1> @Model.ClientName
       <small>希望使用你的账户</small>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <form asp-action="Index">
            <input type="hidden" asp-for="ReturnUrl" />
            @if (Model.IdentityScopes.Any())//严谨，如果有就循环遍历输出
            {
                <div class="panel">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-user"></span>
                        用户信息
                    </div>
                    <ul class="list-group">
                        @foreach (var scope in Model.IdentityScopes)
                        {
                            @Html.Partial("_ScopeListitem", scope)//说明啥呢？ 为啥传model实例
                        }
                    </ul>
                </div>

            }


            @if (Model.ResourceScopes.Any())
            {


                <div class="panel">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-user"></span>
                        用户信息
                    </div>
                    <ul class="list-group">

                        @foreach (var scope in Model.ResourceScopes)
                        {
                            @Html.Partial("_ScopeListitem", scope)
                        }
                     
                    </ul>
                    </div>
            }


            <div>
                <label>
                    <input type="checkbox" asp-for="RemeberConsent" />
                    <strong>记住我的选择</strong>
                </label>
            </div>


                    <div>
                        <button name="button" value="yes" class="btn btn-primary"  autofocus>同意</button>
                        <button name="button" value="no" >取消</button>
                        @if (!string.IsNullOrEmpty(Model.ClientUrl))
                        {
                            <a href="@Model.ClientUrl" class="pull-right btn btn-default">
                                <span class="glyphicon glyphicon-info-sign"></span>
                                <strong>@Model.ClientUrl</strong>
                            </a>

                        }
                    </div>

            </form>
    </div>
</div>

